body{
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
}

#container{
    display: flex;
    justify-content: center;
}

.mainCard{
    width: 70%;
    display: flex;
}

.cardLeft{
    width: 50%;
    padding: 5%;
    background-color: hsl(244, 38%, 16%);
    font-family: 'Inter', sans-serif;
    text-align: left;
}

.cardLeft p{
    color: hsla(0, 0%, 100%, 0.75);
}

.h1-purple{
    color: hsl(277, 64%, 61%);
}

.cardLeft h1{
    font-weight: 700, 100;
    color: hsl(0, 0%, 100%);
}

.cardStats{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400, 100;
    color: hsla(0, 0%, 100%, 0.6);
    display: flex;
}

.cardStats span{
    padding: 10px;
    line-height: 2px;
}

.cardStats h2{
    color: hsl(0, 0%, 100%);
}

.cardRight{
    width: 50%;
    background-color: hsl(277, 64%, 61%);
}

.cardRight img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}